@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #262626;
    padding: 9.5em;
    .text {
        position: relative;
        display: block;
        color: #fff;
        text-align: justify;
        span {
            display: inline-block;
            position: relative;
            cursor: pointer;
            &.active {
                animation: smoke 2s linear forwards;
                transform-origin: bottom;
            }
        }
    }
}

@keyframes smoke {
    0% {
        opacity: 1;
        filter: blur(0);
        transform: translateX(0) translateY(0) rotate(0deg) scale(1);
    }
    50% {
        opacity: 1;
        pointer-events: none;
    }
    100% {
        opacity: 0;
        filter: blur(20px);
        transform: translateX(300px) translateY(-300px) rotate(720deg) scale(4);
    }
}